---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `


Este projeto está em fase de testes e utiliza a plataforma Make (antigo Integromat) para automatizar o envio de e-mails.

A automação é utilizada apenas para fins experimentais e educacionais, sem fins comerciais.
Em caso de dúvidas, entre em contato: dadessa@gmail.com
`;
---

<Layout title="Welcome to Astro.">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Projeto de automação</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg sm:min-w-64">Read the Docs</a>
    </p>
</Layout>
